
body {
  width: 100%;
  margin: 0;
  font-family: 'cocogooseregular';
}

@font-face {
  font-family: 'cocogooseregular';
  src: url(../assets/Cocogoose_trial.otf);
}

.first-nav {
  margin: 0;
  background-color: black;
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

.first-nav li {
  margin-right: 20px;
  list-style: none;
  font-size: 20px;
  top: 0;
}

.second-nav-container {
  display: flex;
  padding-left: 10%;
}

.logo-image {
  width: 180px;
}

.second-nav {
  width: 65%;
  list-style: none;
  justify-content: flex-end;
}

.second-nav li {
  margin: 20px;
  font-size: 20px;
  font-weight: bold;
}

.second-nav li a:hover {
  color: #EC5242;
}

main {
 margin-top: 0;
 padding-top: 0;
}

.introductory {
  color: white;
  padding-left: 5%;
  padding-right: 5%;
  background: url(../assets/party-image.jpg);
  background-repeat: repeat-y;
  background-size: cover;
}

.main-title {
  font-size: 60px;
  padding-top: 40px;
   margin-top: 5px;
}

.section-2 {
padding-top: 30px;
padding-bottom: 30px;
 background: url(../assets/pattern.png) rgba(10, 41, 48, 0.9);

}

.section-2-ul {
  margin: auto;
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(5, 1fr);
  width: 80%;
}

.section-2-ul-li {
  padding: 15px;
 margin-left: 2px;
 background-color:  rgba(242, 246, 245, 0.3);
 padding-top: 15px;
 border: solid transparent 1px;
}

.section-2-ul-li:hover{
  border: solid white 1px;
}

.see-full-program:hover {
  color: #EC5242;
}

.singers-section {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
}

.padding-left-right-10-percent {
  padding-left: 10%;
  padding-right: 10%;
}

.singer-image-container {
  margin-right: 5px;
}

.singer-image {
  width: 120px;
  height: 120px;
}

.singer-text-container {
  padding-left: 5px;
  padding-right: 25px;
}

.singer-text-container > h4 {
  margin-top: 0;
}

.footer-top-div {
  justify-content: space-around;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 40px;
}

.footer-top-div i {
  font-size: 40px;
}

.footer-bottom-div {
  padding-top: 10px;
  padding-bottom: 10px;

}


/* Tickets page */

.tickets-section-1 {
  padding-bottom: 20px;
}

.table-1{
  border: 8px solid transparent;
	border-image: 16 repeating-linear-gradient(-45deg, red 0, red 1em, transparent 0, transparent 2em,
	              #58a 0, #58a 3em, transparent 0, transparent 4em);
}

.table-1 thead {
  color: white;
}

 table thead td,
 table tbody tr td {
  width: 25%;
  margin: 30px;
}

#order-now {
  width: 20%;
  padding: 10px;
  border-radius: 3px;
  margin: auto;
  display: block;
  line-height: 20px;
  font-size: 15px;
  font-weight: bold;
}

#order-now:hover {
  color: black;
}

/* General Classes */

.list-style-none {
  list-style: none;
}

.text-align-center {
  text-align: center;
}

.underline-red {
  text-decoration: underline red;
}

.underline-grey {
  text-decoration: underline grey;
}

.background-orange {
  background-color: #EC5242;
}

.background-d3d3d3 {
  background-color: #d3d3d3;
}

.background-light {
  background-color: #f8f9fa;
}

.background-272a31 {
  background-color: #272A31;
}

.text-decoration-none {
  text-decoration: none;
}

.color-d3d3d3 {
  color: #D3D3D3;
}

.color-black {
  color: black;
}

.color-white {
  color: white;
}

.color-orange {
 color: #EC5242;
}

.display-flex {
  display: flex;
}

.w-50-percent {
  width: 50%;
}

.w-70-percent {
  width: 70%;
}

.font-size-40px {
  font-size: 40px;
}

.font-style-italic {
  font-style: italic;
}

.margin-5-px {
  margin: 5px;
}

.margin-auto {
  margin: auto;
}

.border-1-px-grey {
  border: solid #D3D3D3 1px;
}

.border-radius-10 {
  border-radius: 8px;
}


@media screen and (max-width: 768px){
  body {

  }
}
